.apply_field_name {
    margin-right: 0.5vw;
    color: rgba(0,0,0,0.5);
}

.apply_field_value {
    text-align: start;
}

.apply_field_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: start;
}


.apply_recorder_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 5vw;
    border-left: 1px solid #6D5A00;
    border-top: 1px solid #6D5A00;
    border-right: 1px solid #6D5A00;
    padding: 1%;
    text-align: center;
}

.apply_info_container {
    border: 1px solid #6D5A00;
    padding: 0.5vw;
}
