.field_name {
    margin-right: 1vw;
}

.field_value {

}

.field_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
}

.recorder_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 5vw;
    border-left: 1px solid #6D5A00;
    border-top: 1px solid #6D5A00;
    border-right: 1px solid #6D5A00;
    padding: 1%;
    text-align: center;
}

.info_container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    border: 1px solid #6D5A00;
    padding: 0.5vw;
}


/*style={{*/
/*    height: "40px",*/
/*    boxSizing: "border-box",*/
/*    border: "none",*/
/*    borderRadius: "6px",*/
/*    fontSize: "20px",*/
/*    cursor: "pointer",*/
/*    color: "#fff",*/
/*    background: "#FFD400"*/
/*}}*/